@import "../../common/styles/colors";
@import "../../common/styles/variables";

.button {
  background-color: $c-primary;
  border: 0.1rem solid $c-primary;
  border-radius: $border-radius;
  color: $c-white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: 0.1rem;
  line-height: 3.8rem;
  padding: 0 3rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  &:focus,
  &:hover {
    background-color: $c-gray-3;
    border-color: $c-gray-3;
    color: $c-white;
    outline: 0;
  }

  &[disabled] {
    cursor: default;
    opacity: 0.5;

    &:focus,
    &:hover {
      background-color: $c-primary;
      border-color: $c-primary;
    }
  }

  &.button-outline {
    background-color: transparent;
    color: $c-primary;

    &:focus,
    &:hover {
      background-color: transparent;
      border-color: $c-gray-3;
      color: $c-gray-3;
    }

    &[disabled] {
      &:focus,
      &:hover {
        border-color: inherit;
        color: $c-primary;
      }
    }
  }

  &.button-clear {
    background-color: transparent;
    border-color: transparent;
    color: $c-primary;

    &:focus,
    &:hover {
      background-color: transparent;
      border-color: transparent;
      color: $c-gray-3;
    }

    &[disabled] {
      &:focus,
      &:hover {
        color: $c-primary;
      }
    }
  }
}
