// brand colors from https://paletton.com
$c-primary:      #6613B1;
$c-primary-lt:   #864DB9;
$c-primary-ls:   #D6C6E4;
$c-primary-dk:   #460780;
$c-primary-ds:   #29024D;

// utility colors
$c-error:        #FF3100;
$c-error-lt:     #FF8466;
$c-error-dk:     #DD2A00;

$c-success:        #00D641;
$c-success-lt:     #57D87E;
$c-success-dk:     #00A331;

$c-info:        #02B1C1;
$c-info-lt:     #50BAC4;
$c-info-dk:     #017B86;

$c-warning:        #FF9900;
$c-warning-lt:     #FFC266;
$c-warning-dk:     #DD8400;

// grayscale - rework with UX team
$c-white:  #FFF;
$c-gray-1: #E6E6E6;
$c-gray-2: #C2C2C2;
$c-gray-3: #999999;
$c-gray-4: #717171;
$c-gray-5: #404040;
$c-black:  #000;

